*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Noto Sans', sans-serif;
}
html{
    min-height: 100%;
    width: 100%;
}

body{
    display: flex;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
div{
    display: block;
    word-wrap: break-word;
}

#cuerpo{
    width: 100%;
    height: 100%;
}
#marca{
    float: left;
    background-color: #fd834e;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#marca img{
    width: 100%;
    margin-bottom: 50px;
}
#logo{
    
    width: 80%;
}
#navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navegacion .menu{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
#navegacion .menu .nav-link{
    color: white;
    font-size: 20px;
}
#navegacion .menu .nav-link:hover{
    text-decoration: underline;
}
ul{
    list-style: none;   
}
#navegacion .menu .menuitem{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grid{
    display: grid;
    width:80%;
    margin-left:20%;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}
#fondos{
    background-image:url(../img/background.png);
    background-size: cover;
    width:100%;
    height: 50vh;
}
#moni{
    color: #fd834e;
    font-size: 60px;
    text-align: center;
    font-weight:bold;
    margin-top: 10px;
    
}
#dataform{
    justify-content: center;
    display: flex;
}
#dataaux{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 75%;
}
#perfil{
    margin-bottom: 100px;
}
#datosusuario{
    margin: 0 auto;
    text-align: center;
    border: none;
    height: 70%;
    width: 55%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px rgb(190, 190, 190);
}
label{
    text-decoration: none;
    margin: 20px;
}

#datosusuario button{
    background-color: #fd834e;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    font-size:25px ;
    font-weight: bolder;
    border-radius: 10px;
}
#datosusuario button:hover{
    filter: brightness(125%);
    transition: 0.2s;
}
#fotop{
    width: 300px;
}
#nombre, #id_usuario, #username{
  border: none;
  background-color: bisque;
}